<!DOCTYPE html>
<html lang="en" ng-app="sirya">
<head>
	<title>sirYa</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	<!-- build:css assets/css/main.css -->

	<link rel="stylesheet" type="text/css" href="../build/assets/css/main.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- endbuild -->

	<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />

</head>
<body >

	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo">Logo</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li>
					<i class="material-icons">notifications</i>
				</li>
			</ul>
		</div>
	</nav>


	<div class="" >
		<div class="row">

			<ul class="col s2" ng-controller = "SidebarCtrl as sidebar">
					<li class="logo"><a id="logo-container" href="http://materializecss.com/" class="brand-logo">
		            <object id="front-page-logo" type="image/svg+xml" data="res/materialize.svg"></object></a></li>
        			<div ng-click="$state.go('app.home.profile')" class="imageContainer" style="background-image: url({{sidebar.user.urlImage}});"></div>
        			<div class="row">
        				
        				<h5 class="col s12" ng-bind="sidebar.user.name" ></h5>
        				<h5 class="col s12" ng-bind="sidebar.user.surname" ></h5>
        			</div>

			</ul>

			<div class="col s10">
				<!-- Teal page content  -->

				<div class="row">
					<div class="col s12">
						<ul class="tabs">
							<!-- <li class="tab col s2"><a ng-click="$state.go('app.home.profile')" >Profile</a></li> -->
							<li class="tab col s2"><a  ng-click="$state.go('app.home.searches')">Searches</a></li>
							<li class="tab col s2"><a  ng-click="$state.go('app.home.contacts')">Contacts</a></li>
							<li class="tab col s2"><a  ng-click="$state.go('app.home.chat')">Chat</a></li>
							<li class="tab col s2"><a  ng-click="$state.go('app.home.profile')">Profile</a></li>
						</ul>
					</div>
				</div>	
					<br/>
        						<!-- 	<a class="waves-effect waves-light btn"  ui-sref="app.home.searches">Searches</a>
        							<a class="waves-effect waves-light btn"  ui-sref="app.home.contacts">Contacts</a>
        							<a class="waves-effect waves-light btn"  ui-sref="app.home.profile">Profile</a> -->

					<div ui-view></div>

					

			</div>

		</div>
	</div>

	<!-- build:js app/app.js -->
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../bower_components/materialize/bin/materialize.js"></script>
	<script src="../bower_components/angular/angular.min.js"></script>
	<script src="../bower_components/lodash/lodash.min.js"></script>
	<script src="../bower_components/moment/min/moment.min.js"></script>
	<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="../bower_components/angular-materialize/src/angular-materialize.js"></script>
	<script src="../bower_components/smooth-scroll/src/js/smooth-scroll.js"></script>

	<script src="../bower_components/sio-client/socket.io.js"></script>

	<script src="app/app.js"></script>

	<!-- core -->
	<script src="app/core/core.js"></script>
	<script src="app/core/auth/auth.js"></script>
	<script src="app/core/endpoints/endpoints.js"></script>
	<script src="app/core/endpoints/rest/rest.js"></script>
	<script src="app/core/endpoints/rest/hereRest.js"></script>
	<script src="app/core/endpoints/socket/socket.js"></script>
	<script src="app/core/models/models.js"></script>


	<!-- ui -->
	<script src="app/ui/ui.js"></script>

	<!-- app -->
	<script src="app/ui/app/app.js"></script>
	<script src="app/ui/app/contacts/contacts.js"></script>
	<script src="app/ui/app/home/home.js"></script>
	<script src="app/ui/app/profile/profile.js"></script>
	<script src="app/ui/app/searches/searches.js"></script>
	<script src="app/ui/app/chat/chat.js"></script>

	<!-- authentication -->
	<script src="app/ui/authentication/authentication.js"></script>
	<script src="app/ui/authentication/login/login.js"></script>
	<script src="app/ui/authentication/logout/logout.js"></script>
	<script src="app/ui/authentication/signup/signup.js"></script>
	
	<!-- common -->
	<script src="app/ui/common/common.js"></script>
	<script src="app/ui/common/directives/directives.js"></script>
	<script src="app/ui/common/services/services.js"></script>

	<script src="app/ui/app/home/home.js"></script>
	<!-- endbuild -->

	  <!-- Here Maps APIS -->
	<script type="text/javascript" charset="UTF-8"
	src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
	<script type="text/javascript" charset="UTF-8"
	src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
	<script type="text/javascript" charset="UTF-8"
	src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
	<script type="text/javascript" charset="UTF-8"
	src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
	<script type="text/javascript" charset="UTF-8"
	src="https://js.api.here.com/v3/3.0/mapsjs-clustering.js"></script>
<!-- 	<script type="text/javascript">
		 $(document).ready(function(){
		    $('ul.tabs').tabs();
		  });
	</script> -->
</body>
</html>
